<div class="mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Search</label>
            <input type="search" name="q" class="form-control" id="searchInput" aria-describedby="searchInput" placeholder="Nhập từ khóa">
            <div id="searchHelp" class="form-text">Just a simple search bar.</div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>